body {
    background: #bdc3c7;  /* fallback for old browsers */
    background: linear-gradient(to top,#2980b9,#6DD5FA);

    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Oxygen, sans-serif;
    margin: 0;
    padding: 0;

}
section {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 2rem;
}

button {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: red;
    border: 1px solid darkred;
    cursor: pointer;
    margin-top: 2rem;
    font-size: 50px;

}

.fun {
    background: #fc4a1a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #f7b733, #fc4a1a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #f7b733, #fc4a1a);
}