body {
    background: #bdc3c7;  /* fallback for old browsers */
    background: linear-gradient(#2980b9,#6DD5FA);
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Oxygen, sans-serif;
    margin: 0;
    padding: 0;

}
section {
    display: flex;
    flex-direction: column;
    align-items: center;   /* center content inside */
}

button {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: red;
    border: 1px solid darkred;
    cursor: pointer;

}